.icon-bar span {
    display: block;
    text-align: center;
    transition: all 0.3s ease;
  }

mat-card{
      width: 600px;
      background-color: burlywood;
      
      
}

.center-list {
  align-items: center;
}
is-grouped-centered {
  align-items: center;
}