<section class="section">
    <div class="columns is-vcentered">
        <div
            class="column space-column is-0-mobile is-1-tablet is-one-fifth-desktop is-one-fifth-widescreen is-one-fifth-fullhd"
        ></div>
        <div class="column content-column ">
            <mat-list *ngFor="let idea of ideas | async">
                <mat-list-item style="height: auto;">
                    <mat-card class="mat-card-ideas">
                        <article class="media">
                            <figure class="media-left">
                                <div
                                    class="icon-bar"
                                    style="align-items: center;"
                                >
                                    <span class="icon is-medium">
                                        <a (click)="upvote(idea.id)">
                                            <i
                                                class="material-icons md-36 arrows"
                                            >
                                                keyboard_arrow_up
                                            </i>
                                        </a>
                                    </span>
                                    <p style="text-align: center;">
                                        {{ idea.upvotes - idea.downvotes || 0 }}
                                    </p>
                                    <span class="icon is-medium">
                                        <a (click)="downvote(idea.id)">
                                            <i
                                                class="material-icons md-36 arrows"
                                            >
                                                keyboard_arrow_down
                                            </i>
                                        </a>
                                    </span>
                                </div>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p class="content__title">
                                        <a>
                                            <strong
                                                [routerLink]="[
                                                    '/ideas',
                                                    idea.id
                                                ]"
                                                >{{ idea.idea }}</strong
                                            >
                                        </a>
                                    </p>
                                    <p class="content__desc">
                                        {{ idea.description }}
                                    </p>
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        By &nbsp;
                                        <span class="clickable">
                                            {{ idea.author.username }} &nbsp;
                                        </span>
                                        {{ idea.created | dateAgo }}
                                        &nbsp;&nbsp;
                                    </div>
                                    <div
                                        class="level-right has-text-warning"
                                        style="padding-right: 10px; "
                                    >
                                        <a [routerLink]="['/ideas', idea.id]">
                                            <span class="icon is-medium">
                                                <span
                                                    class="fa-stack is-primary"
                                                    style=" text-align: center;"
                                                >
                                                    <i
                                                        class="far fa-comment-alt fa-stack-2x"
                                                    ></i>
                                                    <i
                                                        class="far comment-num"
                                                        >{{
                                                            idea.commentNo
                                                                ? idea.commentNo
                                                                : 0
                                                        }}</i
                                                    >
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                            <!-- <div class="media-right">
                        <button class="delete"></button>
                    </div> -->
                        </article>
                    </mat-card>
                </mat-list-item>
            </mat-list>
            <div
                infiniteScroll
                [infiniteScrollDistance]="1"
                [infiniteScrollThrottle]="900"
                (scrolled)="onScroll()"
            ></div>
            <div class="hourglass" *ngIf="loading$ | async"></div>
        </div>
        <div
            class="column is-narrow-mobile ad-column is-one-fifth-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd"
        >
            
    </div>
    </div>
</section>

<div class="add-ideas" id="add-ideas">
    <a href="ideas#popup" class="add-ideas__icon" >
        Ideas
    </a>
</div>

<div class="popup" id="popup">
            <div class="popup__content">
                <div class="popup__left">
                    <img
                        src="../../../../assets/purple-bulb-vert.jpeg"
                        alt="Tour photo"
                        class="popup__img"
                    />
                </div>

                <div class="popup__right">
                    <a href="ideas#add-ideas" class="popup__close">&times;</a>
                    <h2 class="heading-secondary u-margin-bottom-small">
                        Start booking now
                    </h2>
                    <h3 class="heading-tertiary u-margin-bottom-small">
                        Important &ndash; Please read these terms before booking
                    </h3>

                    <form action="" class="popup__form" [formGroup]="newIdeaForm"
                    (ngSubmit)="newIdeaSubmit()">
                        <div class="form__group">
                            <input
                                    type="text"
                                    class="form__input"
                                    placeholder="Topic"
                                    formControlName="topic"
                                    id="topic"
                                    required
                            />
                            <label for="name" class="form__label"
                                    >Topic</label
                            >
                        </div>

                        <div class="form__group">
                            <textarea
                                    type="text"
                                    class="form__input"
                                    rows="4"
                                    placeholder="Include summary..."
                                    formControlName="summary"
                                    id="summary"
                                    required
                            ></textarea>
                            <label for="name" class="form__label"
                                    >Summary</label
                            >
                        </div>
                    </form>
                    <!-- <p class="popup__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fuga, sit repudiandae! Ipsum autem voluptatibus corrupti
                        deserunt eaque et quae? Similique, non? Quas nesciunt
                        voluptatum debitis. Sapiente aspernatur illo suscipit
                        quos. Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Sapiente tenetur quod vitae fugiat molestiae
                        suscipit adipisci sint minus, earum magnam? Earum vero
                        laborum voluptatum quaerat ratione quisquam illum.
                        Temporibus, obcaecati.
                    </p> -->
                    <a href="#section-tours" class="btn btn--green">Book now</a>
                </div>
            </div>
        </div>

