/* You can add global styles to this file, and also import other style files */

// body {
//     background-color: #3e4551;
//     height: 100vh;
//     width: 100vw;
//     background-position-y: 0;
//     background-size: 100% 100%;
// }
$color_darkblue: #071e3d;
$color_blue_violet: #1f4287;
$color_bluish_cian: #278ea5;
$color_greenish_cian: #21e6c1;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-white: #fff;
$color-black: #000;

@import 'base/base';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
