*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /**
    *? browser font-size = 16px;
    *? user font-size = unknown;
    *? we want 1rem to be multiple of 10px; 1rem = 10px;
    *? 10/16 = 0.625 * 100 = 62.5%
    *? 1rem = 10px

    *? If user overides browser font-size to 20px,
    *? then 1rem = 0.625 * 20 = 12.5; automaticaly
  */
    // font-size: 62.5%;
    font-size: 100%;
}

body {
    box-sizing: border-box;
}