<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" (click)="homeButton()">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <!-- <a class="navbar-item" routerLink="/" *ngIf="!token">
            Home
        </a> -->

        <!-- <a class="navbar-item" routerLink="/users" *ngIf="!token">
            Users
        </a> -->

        <a class="navbar-item" routerLink="/ideas" *ngIf="token">
            Ideas
        </a>

        <a role="button" class="navbar-burger burger" (click)="burgerCntrl()" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <!-- <div class="navbar-start">
            <a class="navbar-item" routerLink="/users/profile">
                Profile 1
            </a>
        </div> -->

        <div class="navbar-end">
            <a class="navbar-item" routerLink="/users/profile">
                Profile
            </a>
            <div class="navbar-item">
                <div class="buttons">
                    <button class="button " routerLink="/auth" [ngClass]="token? 'is-danger' : 'is-info'" value="loo" (click)="logout()">
                        {{token? 'Logout' : 'Login'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>