section.section {
  padding-top: 24px;
}

.icon-bar span {
    display: block;
    text-align: center;
    transition: all 0.3s ease;
  }

  mat-card.mat-card-ideas.mat-card{
    // position: relative;
    width: 100%;
    min-width: 300px;
    margin: 0px;
    background-color: burlywood;   
}

.center-list {
  align-items: center;
}
is-grouped-centered {
  align-items: center;
}

mat-divider {
  margin-top: 15px;
  margin-bottom: 15px; 
  width: 100%;
}

article {
  width: 100%;
}


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.stack-contianer {
  position: relative;
}

$breakpoints: (phone: 640px, 
               tablet: 768px, 
               desktop: 1024px,
               widescreen: 1216px,
               fullhd: 1408px) !default;


// @media (max-width: 768px) {
//     mat-card{
//       max-width: 220px;
//     }
// }


.columns.space-column {
  border-right: thick;
  border-color: gray;
}

.columns.content-column {
  
}

.columns.ad-column {
  border-left: thick;
  border-color: gray;
}

