<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Primary bold title
            </h1>
            <h2 class="subtitle">
                Primary bold subtitle
            </h2>
        </div>
    </div>
</section>

<div class="container is-fluid top-profile">
    <div class="notification">
        <div class="info-slant">

            {{ userProfile.username }}

        </div>

    </div>
</div>
<p>user-profile works!</p>